EXPO_PUBLIC_SUPABASE_URL=https://zszyczdpcjjlhnptytsi.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpzenljemRwY2pqbGhucHR5dHNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4Mzk2OTIsImV4cCI6MjA4MTQxNTY5Mn0.Wm2L92Je7MNH4trkhS7STI2_38uJDnVS-7NAZgmvjGs

SWIFTPAY_API_KEY=survayreborn-key
SWIFTPAY_TILL_ID=dbdedaea-11d8-4bbe-b94f-84bbe4206d3c
SWIFTPAY_BACKEND_URL=https://swiftpay-backend-uvv9.onrender.com

MPESA_PROXY_URL=https://swiftpay-backend-uvv9.onrender.com/api/mpesa-verification-proxy
MPESA_PROXY_API_KEY=
